* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/CSS.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

/*-------------------------------------------------------------*/