* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

/*-------------------------------------------------------------*/

.retour  {
    left: 1%;
    top: 5%;
    width: 70px;
    height: 30px;
    border: none;
    font-family: "PoppinsBold";
    font-size: 15px;
    background-color: darkgray;
    border-radius: 10px;
    transition: 0.5s;
    position: fixed;
}

.retour  a{
    text-decoration: none;
    color: black;
    background-color: transparent;
}

/*-------------------------------------------------------------*/

.small-block {
    font-family: "PoppinsBold";
    font-size: 35px;
    margin-top: 4%;
    margin-left: 6%;
    background-color: darkgray;
    width: 28%;
    border-radius: 50px;
    padding: 15px;
    text-align: center;
}

.html-base {
    font-family: "PoppinsRegular";
    font-size: 15px;
    margin-top: 2%;
    margin-left: 10%;
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    background-color: darkgray;
}

.html-titre {
    font-family: "PoppinsRegular";
    font-size: 15px;
    margin-top: 2%;
    margin-left: 15%;
    width: 20%;
    padding: 10px;
    border-radius: 10px;    
    background-color: darkslategray;
    display: flex;
    align-items: center;
    text-align: center;
}

.list-titre {
    border: 1px black solid;
    background-color: white;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    list-style-type: none;
}